---
// OptiCV Pricing Section

import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import PricingTable from '../../ui/pricing-tables/PricingTable.astro'

import pricingTablesData from '../../../data/json-files/pricingTablesdata.json'

type PricingTableData = {
	header: {
		title: string
		subtitle: string
		currency: string
		price: string
		priceLabel: string
		priceMonthly?: string
		priceLabelMonthly?: string
		buttonName: string
		buttonLink: string
	}
	body?: {
		listItems: Array<{ listItem: string }>
	}
	footer?: {
		buttonName: string
		buttonLink: string
	}
	type: 'basic' | 'featured'
}

const pricingData: PricingTableData[] = pricingTablesData as PricingTableData[]
---

<Section id="pricing">
	<Row>
		<Col span="12" align="center" classes="mb-4 max-w-4xl mx-auto">
			<h2 class="text-pretty">
				Start free. <strong>Upgrade when you're job hunting hard.</strong>
			</h2>
			<p class="pb-0 text-lg text-neutral-600 dark:text-neutral-400">
				Cancel anytime. No catches.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="2" />
		{
			pricingData.map((item, key) => (
				<Col span="4">
					<PricingTable data={item} listType="checklist" id={`plan-${key}`} />
				</Col>
			))
		}
		<Col span="2" />
	</Row>
</Section>
